#user-bio
	.col-md-12
		= f.text_area :bio, autofocus: false, rows: 5, placeholder: "Bio", class: 'profile-input profile-name-input'

#facebook-input
	.col-md-12
		=f.text_field :facebook, placeholder: "Facebook", class: 'profile-input profile-name-input'

#instagram-input
	.col-md-12
		=f.text_field :instagram, placeholder: "Instagram", class: 'profile-input profile-name-input'

#twitter-input
	.col-md-12
		=f.text_field :twitter, placeholder: "Twitter", class: 'profile-input profile-name-input'

.col-md-12.styles-container
	%h4 Your Styles:
	#user-styles
		-@styles.each do |style|
			.image-container.nonselected.selected
				=image_tag("styles/#{style.url}", width: 170, class: 'style-img')
				.overlay
					.text
						=style.name.capitalize
		-# =react_component 'UserStyles', props: {all_styles: @all_styles, user_styles: @user_styles, profile_id: @profile.id}, prerender: true

.col-md-12
	%h4 Your Services
	#user-services
		=react_component 'UserServices', props: {all_services: @all_services, user_services: @user_services, profile_id: @profile.id}, prerender: true
