#barber-set-schedule
	.col-md-12{style: 'margin-top:20px;margin-bottom:20px'}
		=link_to "Set your schedule", '/schedule', class: 'med-btn brand-btn light-brand-btn'

#user-bio
	.col-md-12
		= f.text_area :bio, autofocus: false, rows: 5, placeholder: "Bio", class: 'profile-input profile-name-input bio-input'

#facebook-input
	.col-md-12
		=f.text_field :facebook, placeholder: "Facebook", class: 'profile-input profile-name-input'

#instagram-input
	.col-md-12
		=f.text_field :instagram, placeholder: "Instagram", class: 'profile-input profile-name-input'

#twitter-input
	.col-md-12
		=f.text_field :twitter, placeholder: "Twitter", class: 'profile-input profile-name-input'

.col-md-12.styles-container
	%h4 Select All Your Qualified Styles:
	#user-styles
		=react_component 'UserStyles', props: {styles: @styles, barberStyles: @barber_styles, profileId: @profile.id, userType: @user_type, userId: current_user.id}, prerender: false

.col-md-12
	%h4 Your Services
	#user-services
		-# =react_component 'UserServices', props: {all_services: @all_services, user_services: @user_services, profile_id: @profile.id}, prerender: true
