#user-bio
	.col-md-12
		= f.text_area :bio, autofocus: false, placeholder: "Bio", class: 'profile-input profile-name-input'

#user-styles
	=react_component 'UserStyles', props: {styles: @styles}, prerender: true
#user-services
	=react_component 'UserServices', props: {services: @services}, prerender: true
