#ethnicity
	.col-md-12
		=f.select :ethnicity_id, options_for_select(@ethnicities.map{ |ethnicity| [ethnicity.name, ethnicity.id]}), {}, html_options = {class: 'profile-input profile-name-input'}

#client-style
	.col-md-12.styles-container
		%h4 Choose Your Style:
		#user-styles
			=react_component('UserStyles', props: {styles: @styles, clientStyle: @client_style, profileId: @profile.id, userType: @user_type}, prerender: false)
		.client-details
			.hair-profile
				%h4 Create Your Hair Profile:
				=react_component('HairProperties', props: {properties: @hair_types, hairPropType: "HairType", currentId: @current_type_id, header: "Hair Type"}, prerender: false, html_options: {class: 'type'})
				=react_component('HairProperties', props: {properties: @hair_widths, hairPropType: "HairWidth", currentId: @current_width_id, header: "Hair Width"}, prerender: false, html_options: {class: 'width'})
				=react_component('HairProperties', props: {properties: @hair_densities, hairPropType: "HairDensity", currentId: @current_density_id, header: "Hair Density (amount of hair in a given area)"}, prerender: false , html_options: {class: 'density'})

.actions
	= f.submit "Update Profile", class: 'brand-btn light-brand-btn med-btn'
