.actions
	= f.submit "Update Profile", class: 'brand-btn light-brand-btn med-btn'

#client-style
	.col-md-12.styles-container
		%h4 Choose Your Style:
		#user-styles
			=react_component('UserStyles', props: {styles: @styles, clientStyle: @client_style, profileId: @profile.id, userType: @user_type}, prerender: false)
		.client-details
			.hair-profile
				%h4 Create Your Hair Profile:
				=react_component('HairProperties', props: {properties: @hair_types, hairPropType: "HairType", header: "Hair Type"}, prerender: false, html_options: {class: 'type'})
				=react_component('HairProperties', props: {properties: @hair_widths, hairPropType: "HairWidth", header: "Hair Width"}, prerender: false, html_options: {class: 'width'})
				=react_component('HairProperties', props: {properties: @hair_densities, hairPropType: "HairDensity", header: "Hair Density (amount of hair in a given area)"}, prerender: false , html_options: {class: 'density'})
