#cms
	.container
		.col-md-12{style: 'margin-bottom:20px'}
			-path = current_user.is_a?(Client) ? '/profiles' : '/barbers'
			=link_to "View Public Profile", "#{path}/#{@profile.id}", class: 'med-btn brand-btn dark-brand-btn'
		.form.cms-form.light-form
			=render 'form'
