#user-show
	.user
		.user-avatar
			.user-image
				-if @user
					=image_tag @user.try(:default_avatar), width: 200
		.user-details-container
			.user-details
				.user-name
					=@user.try(:name)
				.user-location
					%span.fa.fa-map-marker
					=@user.try(:location)

		-if @user_type == "Client"
			.client-details
				.hair-profile

					.type
						.header
							Hair Style
						.details
							=@user.profile.try(:current_style).try(:name).try(:capitalize)
					.type
						.header
							Hair Type
						.details
							=@hair_type

					.width
						.header
							Hair Width
						.details
							=@hair_width

					.density
						.header
							Hair Density
						.details
							=@hair_density
