#user-show
	.user
		.user-avatar
			.user-image
				=image_tag @user.default_avatar, width: 200
		.user-details-container
			.user-details
				.user-name
					=@user.name
				.user-location
					%span.fa.fa-map-marker
					=@user.location
				.user-headline
					=@user.headline

		-if @user_type == "Client"
			.client-details
				.hair-profile

					.type
						.header
							Hair Style
						.details
							=@user.profile.current_style.name.capitalize
					.type
						.header
							Hair Type
						.details
							=@hair_type

					.width
						.header
							Hair Width
						.details
							=@hair_width

					.density
						.header
							Hair Density
						.details
							=@hair_density
