#cms
	.container
		-if params[:profile]
			.form.light-form
				= render 'profile_form', user: resource
		-elsif params[:settings]
			.form.light-form.user-form
				= render 'settings_form', user: resource
