@import '../variables';

#application-container {
}
.body-padding {
	padding-top: $body_padding;
}
.large-brand-text {
	font-size: 20px;
	color: $darkBrand;
}
.container {
	text-align: center;
	padding: 40px;
	font-family: Gill Sans;
	h1 {
		color: $darkBrand;
		font-size: 35px;
		font-weight: 600;
	}
}
.fade-in, .initial-fade-in-short, .initial-fade-in-long {
	opacity: 0;
}
.flash-messages{
	// position: relative;
	// margin-top: $body_padding;
	// margin-bottom: -$body_padding !important;
}
@media (max-width: 767px) {
	ul.nav {
		display: inline;
		text-align: center;
	}
}
html, body{
	background-color: #F0F0F0 !important;
}
