@import '../variables';

.navbar {
	overflow: hidden;
	color: $darkBrand;
	.container-fluid {
		margin-right: 20px !important;
		@media (max-width: 767px) { margin-right: 10px !important; }
	}

}
.navbar-header a {
	padding: 4px 16px !important;
	&:hover {
		img {
			opacity: 0.8;
		}
	}
}
.signup-link {
	border: 2px solid white;
	padding: 6px 15px;
	border-radius: 6px;
}
span.icon-bar {
	background-color: white;
}
ul.nav {
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 767px) { display: inline;}
}
.nav-pills {
	li {
		margin: 0 5px;
		a {
			float: none;
			display: inline-block;
		}
	}
}
.link.settings, .link.favorites{
	display: inline;
	.settings-text, .favorites-text {
		display: none;
		@media (max-width: 767px) {
			display: inherit;
		}
	}
}
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	span.fa, span.user-avatar {
		margin-right: 5px;
	}
	span.user-avatar img{
		border-radius: 50%;
		width:25px;
		height:25px;

	}
	// &:after {
		// display: block;
		// content: '';
		// border-bottom: solid 1px white;
		// transform: scaleX(0);
		// transition: transform 250ms ease-in-out;
	// }
	// &:hover:after { transform: scaleX(1); }
}

.navbar a:hover, .navbar a:focus {
	text-decoration: none;
	background-color: transparent !important;
	transition: 0.3s;
	.link {
		transition: 0.3s;
		color: lighten($lightBrand, 15%);
		border-color: lighten($lightBrand, 15%);
	}
}
.navbar a:focus {
	background-color: transparent;
}

.navbar a.active {
	background-color: #4CAF50;
	color: white;
}
.navbar-transparent {
	background-color: transparent;
	@media (max-width: 767px) {
		background-color: black;
	}
}
.navbar-opaque {
	background-color: black;
}
.navbar-transparent {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

.navbar-transparent.scrolled {
	background: rgb(68, 68, 68); //IE
	background: rgba(0, 0, 0, 0.5); //NON-IE
}
