#schedule
	.container
		.appointments-container
			%h3
				Your appointments:

			-@events.each do |event|
				.appointments-list.col-md-12{style:'text-align:left'}
					.col-md-2
						=link_to profile_path(event.client) do
							=image_tag event.client.default_avatar, width: 35, class: 'avatar'
							=event.client.name
					.col-md-2
						=local_time(event.try(:start_time), '%a, %b %e')
					.col-md-2
						From:
						=local_time(event.try(:start_time), '%l:%M %p')
					.col-md-2
						To:
						=local_time(event.try(:end_time), '%l:%M %p')
					.col-md-2
						="Style: #{event.style.try(:name).try(:capitalize)}"
					.col-md-2
						Extra Services:
						%br
						-services = event.try(:services).try(:split, ',')
						-services.try(:each) do |service|
							%li=service

		=react_component 'Schedule', props: {barberId: current_user.id, days: @days, schedule: @schedule}, html_options: {class: 'schedule-container'}, prerender: false
