#schedule
	.container
		.appointments-container
			%h3
				Your appointments:

			-@events.each do |event|
				.appointments.col-md-12{style:'text-align:left'}
					.col-md-2
						=link_to profile_path(event.client) do
							=image_tag event.client.default_avatar, width: 35, class: 'avatar'
							=event.client.name
					.col-md-2
						=event.start_time.strftime('%a, %b %-d')
					.col-md-2
						="From: #{event.start_time.strftime('%I:%M %p')}"
					.col-md-2
						="To: #{event.end_time.strftime('%I:%M %p')}"
					.col-md-2
						=event.style.try(:name).try(:capitalize)
					.col-md-2
						Services

		=react_component 'Schedule', props: {barberId: current_user.id, days: @days, schedule: @schedule}, html_options: {class: 'schedule-container'}, prerender: false
