.container
	.appointments-container
		%h1
			Your appointments:
		-@events.each do |event|
			.appointments-list.col-md-12{style:'text-align:left'}
				.col-md-2
					=link_to barber_path(event.barber) do
						=image_tag event.barber.default_avatar, width: 35, class: 'avatar'
						=event.barber.name
				.col-md-2
					=local_time(event.try(:start_time), '%a, %b %e')
				.col-md-2
					From:
					=local_time(event.try(:start_time), '%l:%M %p')
				.col-md-2
					To:
					=local_time(event.try(:end_time), '%l:%M %p')
				.col-md-2
					="Style: #{event.style.try(:name).try(:capitalize)}"
				.col-md-2
					Extra Services:
					%br
					-services = event.try(:services).try(:split, ',')
					-services.try(:each) do |service|
						%li=service
