.container
	.appointments-container
		%h1
			Your appointments:

		-@events.each do |event|
			.appointments.col-md-12{style:'text-align:left'}
				.col-md-2
					=link_to barber_path(event.barber) do
						=image_tag event.barber.default_avatar, width: 35, class: 'avatar'
						=event.barber.name
				.col-md-2
					=event.try(:start_time).try(:strftime, '%a, %b %-d')
				.col-md-2
					="From: #{event.try(:start_time).try(:localtime).try(:strftime, '%I:%M %p')}"
				.col-md-2
					="To: #{event.try(:end_time).try(:localtime).try(:strftime, '%I:%M %p')}"
				.col-md-2
					="Style: #{event.style.try(:name).try(:capitalize)}"
				.col-md-2
					Services:
					%br
					-services = event.try(:services).try(:split, ',')
					-services.try(:each) do |service|
						=service
						%br
