#home
	#banner
		.content.initial-fade-in-short
			.text
				%h1
					%p.black-white.head A PERFECT HAIRCUT EXPERIENCE?
					%p.black-white.subhead ALLDID MAKES IT EASY.
				%h2
					%p Alldid finds your perfect barber.
					%p You'll be matched to someone who specializes in your hairstyle.
					%p Then, view their contact info, social media, and more.

			.buttons.initial-fade-in-long
				.banner-btns
					=link_to search_path, class: 'white-btn large-btn' do
						Find your Barber Now
						%span

	#how-it-works
		.content
			%h3.fade-in
				HOW IT WORKS
				%hr.half-hr.fade-in
			.columns
				.column.fade-in
					.fa.fa-edit
					%h3 Personalize
					%h4 Create your custom hair profile
					%p
						We personalize your individual hair profile, style, and preferences. This only takes a minute.
						-# We personalize your individual hair profile, style, and preferences. These criteria then get plugged into our matching algorithm to find you the most proficient barber for your needs.
				.column.fade-in
					.fa.fa-users
					%h3 Match
					%h4 Choose your barber
					%p
						Once we match you with your recommended barbers, you get to view their profiles and select your favorites.
						-# Once we match you with your recommended barbers, you get to view their profiles and select your favorite. They'll be able to view yours as well, so they know your hair before you get there!
				.column.fade-in
					.fa.fa-calendar
					-# %h3 Book
					%h3 Contact
					-# %h4 Book your appointment online
					%h4 Get connected
					%p
						-# View vacant time slots in your barber's schedule with ease. Book your appointment with just a few clicks. No more waiting in line and no more tedious phone calls.
						Your barber will be able to view your profile as well, so they know your hair before you get there!
