#home
	.banner
		.text
			%h1
				Your Perfect Barber.
				%br
				Every time.
				%br
				No guessing.
			%h2
				Find your perfect barber with our optimized search tool.
				%br
				Your barber knows what you want before you get there.
				%br
				Also, fight this homeless guy!
				%br
				You can do it all with Alldid.

		.buttons
			.banner-btns
				=link_to search_path, class: 'brand-btn large-btn' do
					.fa.fa-search
					Find your Barber Now
