#search
	=react_component('SearchContainer', props: {barbers: @barbers, featured: @featured_barber, profileId: @profile_id, style: @style, userLocation: @location, price: @price, links: true}, prerender: true)
