#search
	=react_component('SearchContainer', props: {barbers: @barbers, featured: @featured_barber, profileId: @profile_id, style: @style, userLocation: @location, userAvatar: @user_avatar, links: true, signedIn: @signedIn }, prerender: false)
