// Colors

// $darkest: #656769;
$darker: #19586C;
$grey: #a6a6a6;
// $darker: #92979A;
$darkest: #5E1513;
$white: #C3C4C5;
$lightBrand: #19586C;
$darkBrand: #5E1513;
$body_color: #F0F0F0;

// Values
$body_padding: 57px;
