// Colors

// $darkest: #656769;
$darker: #19586C;
$grey: #a6a6a6;
// $darker: #92979A;
$darkest: #5E1513;
$white: #C3C4C5;
$lightBrand: #19586C;
$lightBrandRgba: rgba(25, 88, 108, 0.5);
$darkBrand: #5E1513;
$darkBrandRgba: rgba(94, 21, 19, 0.5);
$body_color: #F0F0F0;
$red: #B30000;


// Values
$body_padding: 57px;
