@import 'variables';
#search-container {
	height: calc(100vh - #{$body_padding});
}
#client-sidebar-container {
	background: $body_color;
	padding: 40px 20px;
	height: 100%;
	position: relative;
	text-align: center;
	color: $lightBrand;
	a { color: $lightBrand; }

	.user-avatar {
		position: relative;
		height: 200px;
		padding: 10px 0;

		.user-avatar-img {
			width:150px;
			height: 150px;
			border-radius: 50%;
			position: absolute;
			left: calc(50% - 75px);
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
		}
	}
	.fa-pencil { margin-left: 10px; }
	h4 { color: $darkBrand; }
	.current-style, .current-style h4,
	.location, .location h4,
	.price, .price h4, {
		font-weight: 600;
	}
	.current-style, .location, .price,  {
		padding: 15px 0;
	}
	@media (max-width: 991px) {
		display: none;
	}
}
#barber-container {
	background: $body_color;
	height: 100%;
	h1 {
		color: $darkBrand;
		text-align: center;
	}
}
#featured-barber {
	height:30%;
	position: relative;

	.barber {
		margin: 20px 5px;
		border-radius: 6px;
		background: white;
		height: 100%;
		-webkit-animation-name: bluePulse;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		z-index: 5;

		.barber-image {
			top: calc(50% - 75px);
			position: static;
			height: 150px;
			width: 150px;
			left: calc(50% - 75px);
			-webkit-animation-name: yellowPulse;
			-webkit-animation-duration: 2s;
			-webkit-animation-iteration-count: infinite;
		}
		.barber-details-container {
			left:18%;
			@media(max-width: 1150px) { left:20% }
			@media(max-width: 1000px) { left:22% }
			@media(max-width: 767px) {
				height: 100%;
				position:absolute;
				width: 78%;
				left: 22%;
				top: 0;
				padding-top: 40px;
				padding-right: 20px;
			}
			.barber-name, .barber-location, .barber-price, .barber-headline {
				text-align: left;
				@media(max-width: 767px) { padding-left: 12vw }
				@media(max-width: 550px) { text-align: center }
				@media(max-width: 500px) { padding-left: 17vw }
				@media(max-width: 450px) { padding-left: 19vw }
			}
			@media (max-width: 500px){
				.barber-headline {
					font-size: 13px;
				}
			}
		}
	}
	// background: rgba(25,88,108,0.7);
}
#barbers {
	height: 65%;
	overflow-y: scroll;
	background: $body_color;
	.barber {
		box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
		margin: 20px;
		border-radius: 6px;
		background: white;
		height: 180px;
		@media (max-width: 767px) {height: auto;}

		.barber-image {
			top: calc(50% - 50px);
			height: 100px;
			width: 100px;
			left: calc(50% - 50px);
		}
		@media (max-width: 767px) {
			& {margin: 10px 0}
			.barber-avatar {
				width: 100%;
				.barber-image {
					top:20px;
					left: calc(50% - 50px);
				}
			}
		}
		.barber-book {
			margin: 25px 0 0;
			a {
				padding: 5px 10px;
			}
		}
	}
}
.barber-link:hover {
	text-decoration: none;
	.barber {
		transition: 0.3s;
		background: rgba(25,88,108, 0.2) !important;
		box-shadow: 0 0 9px rgba(0, 0, 0, 0.8) !important;

	}
}
#featured-barber .barber-link:hover {
	.barber{
		transition: 0.2s;
		-webkit-animation-name: whitePulse;
		background: rgba(25,88,108, 0.2) !important;
	}
}
.barber, .user {
	position: relative;

	.barber-favorite {
		position: absolute;
		color: darken($white,10%);
		font-size: 25px;
		transition: 0.3s;
		font-weight: 900;
		left: 10px;
		top: 10px;

		&:hover {
			cursor: pointer;
			color: #CC9900;
			font-size: 26px;
		}
		&.faved {color: #CC9900;}
	}
	.fa-usd { color: #29651D }
	.fa-map-marker { margin-right: 5px;}

	.social-icons {
		position: absolute;
		color: $darkBrand;
		font-size: 25px;
		transition: 0.3s;
		font-weight: 900;
		right: 10px;
		top: 10px;
		.fa {
			margin: 0 5px;
			&:hover {
				cursor: pointer;
				transition: 0.2s;
			}
		}
		.fa-facebook-square {
			&:hover {
				color: #425F9C;;
			}
		}
		.fa-twitter-square {
			&:hover {
				color: #55ACEE;
			}
		}
		.fa-instagram {
			&:hover {
				color: #964B00;
			}
		}
	}
	.barber-avatar, .user-avatar {
		position: absolute;
		width: 17%;
		height:100%;
		top: 0;
		padding: 20px;
		@media (max-width: 767px) {
			position:static;
			height: 140px;
		}

		.barber-image, .user-image {
			position: absolute;
			background-image: url('http://www.clubvelicotrasimeno.it/Portals/0/Users/061/29/829/Steve%20Murray.png');
			background-size: cover;
			border-radius: 50%;
		}
	}
	.barber-details-container, .user-details-container {
		position: absolute;
		display: inline-flex;
		padding: 33px 20px;
		left: 15%;
		height: auto;
		width: 80%;

		@media (max-width: 767px) {
			width: 100%;
			left: 0;
			position: static;
			padding-top: 0;
		}

		.barber-details, .user-details {
			width: 40%;
			display: inline-block;

			.barber-name, .user-name {
				font-weight: 600;
				font-size: 20px;
				color: $darkBrand;
			}
			.barber-location, .user-location {
				font-weight: 600;
				font-size: 18px;
				color: $lightBrand;
			}
			.barber-headline, .user-headline {
				font-weight: 600;
				font-size: 15px;
				color: darken($white, 25%);
			}
			@media (max-width: 767px) {
				& {
					width: 100%;
					position: initial;
					text-align: center;

					.barber-name, .barber-location, .barber-price, .barber-headline {
						width: 100%;
					}
					.user-name, .user-location, .user-price, .user-headline {
						width: 100%;
					}
					.services-and-styles {
						height: initial;
						text-align: center;
						position: relative;
					}
				}
			}
		}
	}
	.services-and-styles {
		padding: 20px;
		display: inline-block;
		.styles-header, .services-header {
			font-size: 15px;
			font-weight: 600;
		}
		.styles-header, .services-header {
			margin: 7px 0;
		}
		.styles-header {
			color: $lightBrand;
		}
		.services-header {
			color: $darkBrand;
		}
		.barber-bio {
			color: darken(white,60%);
			font-weight: 500;
			line-height: 1.3;
			margin-top: 40px;
		}
		@media (max-width: 767px) {
			& {
				display: none;
				width: 100%;
				position: static;
				height: auto;
				text-align: center;
				left: 0;
			}
		}
	}
}
#barber-show, #user-show {
	padding: 20px;
	.barber, .user{
		height: 100%;
		width: 800px;
		left: calc(50% - 400px);
		margin: 0;
		.barber-avatar, .user-avatar{
			width: 100%;
			position:static;
			height: 240px;
			.barber-image, .user-image{
				top:20px;
				left: calc(50% - 100px);
				height: 200px;
				width: 200px;
			}
		}
		.barber-details-container, .user-details-container{
			width: 100%;
			left: 0;
			position: relative;
			padding-top: 0;
			display: inline-block;

			.barber-details, .user-details{
				width: 100%;
				position: initial;
				text-align: center;

				.barber-name, .barber-location, .barber-price, .barber-headline {
					width: 100%;
				}
				.user-name, .user-location, .user-price, .user-headline {
					width: 100%;
				}
			}
			.services-and-styles {
				text-align: center;
				width: 100%;
				position: static;
				height: auto;
				text-align: center;
				left: 0;
				@media (max-width: 767px) {display: initial}

				.endorsement-tag .content {
					pointer-events: none;
				}
				.endorsement-tag:hover {
					cursor: pointer;
				}
				.endorsed:hover span:after{
					font-family: FontAwesome;
					content: '\f068';
				}
				.not-endorsed:hover span:after{
					font-family: FontAwesome;
					content: '\f067';
				}
			}
		}
		.additionalAttributes {
			text-align: center;
		}
		@media(max-width: 950px) {
			width:100%;
			left: 0;
		}
	}
}

.user {
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
	margin: 20px;
	border-radius: 6px;
	background: white;
	@media (max-width: 767px) {height: auto;}

	.user-image {
		top: calc(50% - 50px);
		height: 100px;
		width: 100px;
		left: calc(50% - 50px);
	}
	@media (max-width: 767px) {
		& {margin: 10px 0}
		.user-avatar {
			width: 100%;
			.user-image {
				top:20px;
				left: calc(50% - 50px);
			}
		}
	}
}
@-webkit-keyframes bluePulse {
	from { -webkit-box-shadow: 0 0 9px rgba(25,88,108, 0.8); }
	50% { -webkit-box-shadow: 0 0 18px rgba(25,88,108, 0.9); }
	to { -webkit-box-shadow: 0 0 9px rgba(25,88,108, 1); }
}
@-webkit-keyframes yellowPulse {
	from { -webkit-box-shadow: 0 0 9px rgba(255, 204, 0, 0.8); }
	50% { -webkit-box-shadow: 0 0 18px rgba(255, 204, 0, 0.9); }
	to { -webkit-box-shadow: 0 0 9px rgba(255, 204, 0, 1); }
}
@-webkit-keyframes whitePulse {
	from { -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8); }
	50% { -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9); }
	to { -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 1); }
}
// .is_animating {
// 	animation: heart-burst .8s steps(28) 1;
// }
// @keyframes heart-burst {
//  from {background-position:left;}
//  to { background-position:right;}
// }
