@import 'variables';

#avatar-preview, #empty-avatar-preview, #current-avatar {
	width:150px !important;
	height:150px !important;
	border-radius:50% !important;
	background-size:cover !important;
	display: inline-flex;
}
#empty-avatar-preview {
	background-color: #f0f0f0;
	position: relative;
	.text {
		padding: 0 10px;
		color: darken($white,10%);
		position: absolute;
		top: 60px;
		font-size:15px;
		line-height: 1;
	}
}
.profile-name-input {
	border: none;
	border-bottom: 1px solid lighten($lightBrand,10%);
	font-size: 20px;
	width: 100%;
	padding: 20px 20px 0 20px;
	text-align: center;
	margin-top: 5px;
	&:focus {
		outline:none;
		box-shadow: 0 4px 4px -4px $lightBrand;
	}
	&input[type=text_area] {
		outline: 1px solid $lightBrand;
	}
}
.bio-input {
	border: 1px solid lighten($lightBrand,10%);
	border-radius: 2px;
}
input[type=file] {
	width: 75px;
	display:inline;
}
.styles-container {
	margin-top: 40px;
}
.image-container {
	border-radius:40%;
	margin:15px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.style-img, .overlay {
	border-radius:40%;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,0.5);
}

.image-container.selected .overlay { opacity: 1; }
.image-container.selected:active {
	.overlay { opacity: 0; }
}
.image-container:hover .overlay { opacity: 1; }
#user-styles {
	.overlay, .text, .style-img {
		pointer-events: none;
	}
	.text {
		color: white;
		font-size: 15px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}
#user-show {
	.client-details {
		.hair-profile {
			.type, .width, .density {
				text-align: center;
				.details {
					color: $darkest;
					padding: 15px;
					font-size: 15px;
					font-weight: 600;
				}
			}
		}
	}
}

.client-details {
	.hair-profile {
		padding: 20px 0;
		.type, .width, .density {
			.header {
				color: $darkBrand;
				font-size: 20px;
				font-weight: 700;
			}
			.details {
				display: block;
				overflow: hidden;
				.item {
					margin:15px;
					background: rgba(25, 88, 108, 0.8);
					color: white;
					overflow: hidden;
					display: inline-block;
					width: 170px;
					height: 125px;
					border-radius: 40%;
					position: relative;
					cursor: pointer;

					.overlay, .name, .description {
						pointer-events: none;
					}
					&:hover{
						.overlay { opacity: 1; }
						.name { opacity: 0; }
					}
					&.selected {
						.overlay { opacity: 1; }
						.name { opacity: 1; }
						.description { opacity: 0; }
					}

					.name {
						overflow: hidden;
						font-size: 20px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}
					.overlay {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						height: 100%;
						width: 100%;
						opacity: 0;
						transition: .5s ease;
						background-color: rgba(0,0,0,0.5);

						.description {
							overflow: hidden;
							font-size: 15px;
							padding: 5px 0;
							width: 170px;
							line-height: 1;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
	}
}
