%nav.navbar.navbar-fixed-top{class: (current_page?(root_path)) ? 'navbar-transparent' : 'navbar-opaque'}
	.container-fluid
		.navbar-header
			%button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand=link_to image_tag('alldid-logo.png', width: 135), root_path
		#navbar.collapse.navbar-collapse
			%ul.nav.navbar-nav.nav-pills.nav-stacked
				%li
					=link_to search_path do
						.link
							%span.fa.fa-search
							Search
			%ul.nav.navbar-nav.navbar-right.nav-pills.nav-stacked
				-unless current_user
					%li
						=link_to new_user_session_path do
							.link
								%span.fa.fa-sign-in
								Sign In
					%li
						=link_to new_user_registration_path do
							.link.signup-link
								%span.fa.fa-user-plus
								Sign Up
				-else
					%li
						=link_to edit_profile_path(current_user.profile) do
							.link
								-if current_user.avatar
									%span.user-avatar=image_tag(current_user.avatar, width: 30)
								-else
									%span.fa.fa-user
								=current_user.name
					%li
						=link_to destroy_user_session_path(current_user), method: :delete do
							.link
								%span.fa.fa-sign-out
								Sign Out
