%nav.navbar.navbar-fixed-top{class: (current_page?(root_path)) ? 'navbar-transparent' : 'navbar-opaque'}
	.container-fluid
		.navbar-header
			%button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand=link_to image_tag('alldid-logo.png', width: 135), root_path
		#navbar.collapse.navbar-collapse
			%ul.nav.navbar-nav.nav-pills.nav-stacked
				%li
					=link_to search_path do
						.link
							%span.fa.fa-search
							Search
			%ul.nav.navbar-nav.navbar-right.nav-pills.nav-stacked
				-unless current_user
					%li
						=link_to new_user_session_path do
							.link
								%span.fa.fa-sign-in
								Sign In
					%li
						=link_to new_user_registration_path do
							.link.signup-link
								%span.fa.fa-user-plus
								Sign Up
				-else
					-if current_user.is_a? Admin
						%li
							=link_to '/admin' do
								.link
									Dashboard
					-if current_user.org_owner?
						%li
							=link_to '/dashboard' do
								.link
									%span.fa.fa-lock
									Dashboard
					-if current_user.is_a? Client
						%li
							=link_to '/favorites' do
								.link.favorites
									%span.fa.fa-star
									%span.favorites-text Favorite Barbers
						-# %li
						-# 	=link_to '/appointments' do
						-# 		.link.appointments
						-# 			%span.fa.fa-calendar
						-# 			%span.appointments-text Your Appointments
					-# -if current_user.is_a? Barber
					-# 	%li
					-# 		=link_to '/schedule' do
					-# 			.link.appointments
					-# 				%span.fa.fa-calendar
					-# 				%span.favorites-text Your Appointments

					%li
						=link_to '/profile' do
							.link.profile
								-if current_user.profile[:avatar]
									%span.user-avatar=image_tag(current_user.avatar)
								-else
									%span.fa.fa-user
								%span.profile-text=current_user.name

					%li
						-@settings = true
						=link_to edit_user_registration_path(current_user) do
							.link.settings
								%span.fa.fa-cog
								%span.settings-text Settings
					%li
						=link_to destroy_user_session_path(current_user), method: :delete do
							.link
								%span.fa.fa-sign-out
								Sign Out
